.exampleWindow {
  width: 100%;
  max-width: 600px;
  border-radius: 7px;
  margin: 3rem 0;
  padding: 0;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.exampleWindow > p {
  display: flex;
  margin: 0;
  border: 1px solid #eaeaea;
  border-radius: 7px;
}
.exampleWindow > p > img {
  border-radius: 0 0 7px 7px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px 0 0;
  border-radius: 50%;
  background: #f9f9f9;
  border: 1px solid #f9f9f9;

  &.red {
    background: #ff6057;
    border-color: #e14640;
  }

  &.amber {
    background: #ffbd2e;
    border-color: #dfa123;
  }

  &.green {
    background: #27c93f;
    border-color: #1dad2b;
  }
}
.title {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.title > p {
  flex-grow: 2;
  font-size: 1.125em;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin: 0 0 0 -40px;
}

.table {
  && td {
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;

    height: 200px;
    width: 33.33%;
    position: relative;
    overflow: hidden;
  }
}

.gifImg {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.gifImg > img {
  max-height: 200px;
  margin: 0;
  padding: 0;
}

.gifImg:hover {
  opacity: 1;
}

.fixImg {
  opacity: 1;
  cursor: pointer;
}
.fixImg:hover {
  opacity: 0;
}
.fixImg > img {
  max-height: 200px;
  margin: 0;
  padding: 0;
}

.docsify-copy-code-button,
.docsify-copy-code-button > span {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.docsify-copy-code-button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  overflow: visible;
  padding: 0.65em 0.8em;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-size: 1em;
  background: #0464fc;
  background: var(--theme-color, #0464fc);
  color: #fff;
  opacity: 0;
}

.docsify-copy-code-button > span {
  border-radius: 3px;
  background: #0464fc;
  pointer-events: none;
}

.docsify-copy-code-button > .error,
.docsify-copy-code-button > .success {
  position: absolute;
  z-index: -100;
  top: 50%;
  right: 0;
  padding: 0.5em 0.65em;
  font-size: 0.825em;
  opacity: 0;
  transform: translate(0, -50%);
}

.docsify-copy-code-button.error > .error,
.docsify-copy-code-button.success > .success {
  right: 100%;
  opacity: 1;
  transform: translate(-25%, -50%);
}

.docsify-copy-code-button:focus,
pre:hover .docsify-copy-code-button {
  opacity: 1;
  background-color: #0464fc;
}

.docsify-copy-code-button > [aria-live] {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
